<div class="container-fluid mt-5">
    <h2>Inicio</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore exercitationem illum id ex autem similique voluptatem obcaecati repellat, voluptatibus aperiam perspiciatis doloremque sapiente aut nulla labore quos facilis magni at?</p>
    <div class="row">
        <div class="col">
            <app-ng-if-click></app-ng-if-click>
        </div>
        <div class="col">
            <!-- <app-ng-class></app-ng-class>-->
            <app-ng-for></app-ng-for>
        </div>
    </div>
</div>