<h1 class="container bg-dark text-white text-center my-4 py-4">*ngIf show = {{show}}</h1>
<hr>
<div class="container">
    <button class="btn btn-warning mb-3" (click)="show=!show">Mostrar1 / Mostrar2</button>
    <div *ngIf="show; else showDos" class="card text-white bg-success mb-3" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{ frases.autor.frida }}</h5>
            <p class="card-text">{{ frases.mensaje.frida }}</p>
        </div>
    </div>
    <ng-template #showDos>
        <div class="card text-white bg-info mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ frases.autor.ben }}</h5>
                <p class="card-text">{{ frases.mensaje.ben }}</p>
            </div>
        </div>
    </ng-template>
</div>